.image33Icon {
  position: relative;
  width: 328px;
  height: 492px;
  object-fit: cover;
  z-index: 0;
}
.brandName {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 300;
  color: var(--typography-color-caption);
}
.idr150000,
.productTitle {
  position: relative;
  font-weight: 500;
}
.productTitle {
  align-self: stretch;
  font-size: var(--body-moderate-size);
  line-height: 24px;
}
.idr150000 {
  line-height: 20px;
}
.propertiescomponentproductT1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.idr100000 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  z-index: 0;
}
.strike {
  position: absolute;
  margin: 0 !important;
  width: 100%;
  top: 9.5px;
  right: 0;
  left: 0;
  background-color: var(--fill-background-bg-inactive);
  height: 1px;
  z-index: 1;
}
.propertiescomponentproductT2 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-5xs);
  font-size: var(--caption-medium-medium-large-size);
  color: var(--fill-background-bg-inactive);
}
.price,
.propertiescomponentproductT {
  display: flex;
  justify-content: flex-start;
}
.price {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.propertiescomponentproductT {
  margin: 0 !important;
  position: absolute;
  width: calc(100% - 1112px);
  right: 1072px;
  bottom: 40px;
  left: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
  z-index: 1;
}
.imageIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.propertiescomponentproductT3 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.propertiescomponentproductT4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.componentproductTiles {
  flex: 1;
  height: 492px;
  flex-direction: column;
  gap: var(--gap-xs);
  z-index: 4;
}
.componentproductTiles,
.componentproductTiles1,
.image33Parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.componentproductTiles1 {
  flex: 1;
  height: 492px;
  flex-direction: column;
  gap: var(--gap-xs);
  z-index: 5;
}
.image33Parent {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-21xl) var(--padding-21xl);
  position: relative;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--title-bold-bold-small-size);
  color: var(--typography-color-default);
  font-family: var(--headline-medium-medium-moderate);
}
