.image {
  display: flex;
  /* position: relative; */
  border-radius: var(--br-5xs);
  /* width: 664px; */
  height: 443px;
  object-fit: cover;
  z-index: 0;
}
.minsRead {
  position: relative;
  line-height: 20px;
  font-weight: 300;
  color: var(--typography-color-body);
}
.fashionMuslimPilihan {
  align-self: stretch;
  position: relative;
  font-size: var(--title-medium-medium-large-size);
  line-height: 32px;
  font-weight: 500;
  color: var(--typography-color-default);
}
.moosliminTeam {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: var(--typography-color-mute);
}
.infoChild {
  position: relative;
  border-radius: 50%;
  background-color: var(--fill-background-bg-inactive);
  width: 3px;
  height: 3px;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--caption-medium-medium-large-size);
  color: var(--fill-background-bg-inactive);
}
.info,
.content,
.title {
  align-self: stretch;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  z-index: 1;
}
.content {
  position: relative;
  font-size: var(--title-bold-bold-small-size);
  line-height: 20px;
  font-weight: 300;
  color: var(--typography-color-body);
  z-index: 2;
}
.badge,
.blogLarge {
  display: flex;
  flex-direction: column;
}
.badge {
  margin: 0 !important;
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: var(--typography-color-white);
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
  z-index: 3;
  color: var(--typography-color-default);
}
.blogLarge {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  /* position: relative; */
  gap: var(--gap-5xl);
}
.imageChidrend {
  position: relative;
  border-radius: var(--br-5xs);
  width: 132px;
  height: 88px;
  object-fit: cover;
}
.titleChildren {
  align-self: stretch;
  position: relative;
  font-size: var(--body-moderate-size);
  line-height: 24px;
  font-weight: 500;
  color: var(--typography-color-default);
}
.title1 {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.content {
  align-self: stretch;
  position: relative;
  font-size: var(--title-bold-bold-small-size);
  line-height: 20px;
  font-weight: 300;
  color: var(--typography-color-body);
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.blogSmall {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xl);
}
.blogSmall,
.list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-21xl);
}