.componentinputField
{
  border-radius: var(--br-81xl);
  border: 1px solid var(--fill-background-bg-mute-secondary);
  box-sizing: border-box;
  width: 360px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}

.searchInput
{
  border: 0;
  font-weight: 300;
  font-family: var(--caption-medium-medium-small);
  font-size: var(--caption-regular-regular-large-size);
  background-color: transparent;
  flex: 1;
  position: relative;
  line-height: 20px;
  color: var(--fill-background-bg-inactive);
  text-align: left;
}
  .searchInput:focus
  {
    outline: none;
  }

.rightIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
}
.rightIcon {
  height: 40px;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  justify-content: flex-end;
  position: relative;
  font-size: var(--caption-medium-medium-small-size);
  color: var(--typography-color-caption);
}
.div {
  position: absolute;
  margin: 0 !important;
  top: 10px;
  right: 0;
  line-height: 20px;
  font-weight: 300;
  z-index: 0;
}
.componentnavigationheaderMeChild {
  position: relative;
  background-color: var(--fill-background-bg-mute-secondary);
  width: 1px;
  height: 20px;
}
.localMallIcon,
.personIcon {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 1;
}
.localMallIcon {
  z-index: 2;
  width: 18px;
  height: 18px;
}