.checkCircleIcon {
  position: relative;
  width: 24px;
  height: 24px;
}
.islamicWayGuaranteeGaransi,
.loremIpsumDolor {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.loremIpsumDolor {
  font-size: var(--title-bold-bold-small-size);
  line-height: 20px;
  font-weight: 300;
  color: var(--typography-color-mute);
}
.info,
.text {
  display: flex;
  font-size: 16px;
  color: var(--typography-color-warning);
}
.info {
  align-items: center;
  gap: var(--gap-base);
}
.infoBar {
  background-color: var(--fill-primary-primary-default);
  padding: var(--padding-5xl) 0;
}
.dailyWearBaju,
.outfitfesyen {
  position: relative;
  line-height: 20px;
}
.outfitfesyen {
  align-self: stretch;
  font-weight: 500;
}
.dailyWearBaju {
  font-weight: 300;
}
.text3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-9xs);
  font-size: var(--caption-medium-medium-small-size);
  color: var(--typography-color-body);
}
.list {
  flex: 1;
  gap: var(--gap-base);
}
.list,
.list3,
.lists {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list3 {
  align-self: stretch;
  gap: var(--gap-base);
}
.lists {
  flex: 1;
  gap: var(--gap-21xl);
}
.iconSocmed {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.placeholder,
.text8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.text8 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.tnc {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  z-index: 2;
  text-align: center;
}
.tncText {
  line-height: 20px;
  font-weight: 300;
  color: var(--typography-color-default);
}
.copyright {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 300;
  text-align: right;
}
.footer1 {
  align-self: stretch;
  background-color: var(--fill-secondary-secondary-light);
  padding: var(--padding-21xl);
  text-align: left;
  font-size: var(--caption-medium-medium-large-size);
  color: var(--typography-color-default);
}